'use client';

import React, { useState } from 'react';
import * as S from './styles';

const {{pascalCase name}} = () => {
    const [active, setActive] = useState(false);

    const toggle = () => {
        setActive((prev) => {
            return !prev;
        });
    }

    return (
        <S.{{pascalCase name}}Container>
          <h1>{{pascalCase name}}</h1>

            <button onClick={toggle}>Toggle</button>

            {active ? (
                <p>Texto visivel</p>
            ) : null}
        </S.{{pascalCase name}}Container>
    );
};

export default {{pascalCase name}};